<mat-toolbar color="primary" class="toolbar">

  <a href="" class="ancora"><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</a>
  <span>Hoteis (i)Legais </span>
  <span class="example-spacer"></span>

  <a href="#" class="ancora"> <button mat-icon-button class="example-icon botao" >
    <mat-icon>share</mat-icon>
  </button>
  </a>
</mat-toolbar>


<div class="container">
  <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/08/29/1013/Grand-Hyatt-Rio-de-Janeiro-P443-Pool.jpg/Grand-Hyatt-Rio-de-Janeiro-P443-Pool.16x9.jpg?imwidth=1920" alt="" class="foto-fundo">

  <form class="example-form">
    <p class="cadastro">cadastro</p>

    <table class="example-full-width registro" cellspacing="0" ><tr>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Primeiro nome</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Segundo Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Endereço</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>

    </tr></table>
  </form>
</div>
